<div class="home-container">
    <div class="glass-card">
        <h1 class="animated-title" aria-label="Aim Trainer">
            <span style="--i:0">A</span>
            <span style="--i:1">i</span>
            <span style="--i:2">m</span>
            <span style="--i:3">&nbsp;</span>
            <span style="--i:4">T</span>
            <span style="--i:5">r</span>
            <span style="--i:6">a</span>
            <span style="--i:7">i</span>
            <span style="--i:8">n</span>
            <span style="--i:9">e</span>
            <span style="--i:10">r</span>
        </h1>
        <button class="play-button" [routerLink]="['/aim']">JUGAR AIM</button>
    </div>

</div>